<div class="container">
  <h3 style="text-align: center">List of Room</h3>
  <div class="row">

    <div class="col-md-1">Name</div>
    <div class="col-md-2">
      <input type="text" class="form-control" (keyup)="nameKeyUp($event)">
    </div>
    <div class="col-md-1">Description</div>
    <div class="col-md-2">
      <input type="text" class="form-control" (keyup)="descriptionKeyUp($event)">
    </div>
    <div class="col-md-1">Block</div>
    <div class="col-md-2">
      <select name="" id="" class="form-control" (change)="blockChange($event)">
        <option value="">Choose a block</option>
        <option *ngFor="let block of blockList" [value]="block.id">{{block.name}}</option>
      </select>
    </div>
  </div>

  <a (click)="openDialogAdd()">Add New Room</a>


  <div style="overflow-x:auto;">
  <table class="table table-bordered">
    <thead>
      <th>Order</th>
      <th>Name</th>
      <th>Description</th>
      <th>Block</th>
    </thead>
    <tbody>
    <tr *ngFor="let room of roomList; let i = index">
      <td>{{i+1}}</td>
      <td>{{room.name}}</td>
      <td>{{room.description}}</td>
      <td>{{room.block.name}}</td>

      <td style="text-align: center">
        <button class="btn btn-primary" routerLink="{{room.id}}">Detail</button>
      </td>

      <td style="text-align: center">
        <button class="btn btn-success" (click)="openDialogEdit(room)">Edit</button>
      </td>
      <td style="text-align: center">
        <button class="btn btn-danger" (click)="openDialogDelete(room)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
