<h3>Update Device</h3>
<form [formGroup]="deviceForm" (ngSubmit)="update()">

  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-2">Category</div>
        <div class="col-10">
          <select name="" id="" class="form-control" formControlName="category" [compareWith]="compareByID" (change)="changeCategory($event)">
            <option value="">Choose a category</option>
            <option *ngFor="let category of categoryList" [ngValue]="category">{{category.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-4">
      <!--    Validate-->
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-2">Use Date</div>
        <div class="col-10">
          <input type="date" class="form-control" formControlName="useDate">
        </div>
      </div>
    </div>
    <div class="col-4">
      <!--    Validate-->
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-2">Brand</div>
        <div class="col-10">
          <input type="text" class="form-control" formControlName="brand">
        </div>
      </div>
    </div>
    <div class="col-4">
      <div *ngIf="brand.invalid && (brand.dirty || brand.touched)"
           class="alert alert-danger">
        <div *ngIf="brand.errors?.['required']">
          Brand is required.
        </div>
        <div *ngIf="brand.errors?.['maxlength']">
          Model up to 20 characters.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-2">Model</div>
        <div class="col-4">
          <input type="text" class="form-control" formControlName="model">
        </div>
        <div class="col-2">Serial</div>
        <div class="col-4">
          <input type="text" class="form-control" formControlName="serial">
        </div>
      </div>
    </div>
    <div class="col-4">
      <div *ngIf="model.invalid && (model.dirty || model.touched)"
           class="alert alert-danger">
        <div *ngIf="model.errors?.['required']">
          Model is required.
        </div>
        <div *ngIf="model.errors?.['maxlength']">
          Model up to 20 characters.
        </div>
      </div>
    </div>
  </div>

  <fieldset [disabled]="(nameCatelogySelected!='Computer')">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-2">Monitor</div>
          <div class="col-4">
            <input class="form-control" type="text" formControlName="monitor">
          </div>

          <div class="col-2">Memory</div>
          <div class="col-4">
            <input type="text" class="form-control" formControlName="memory">
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-2">CPU</div>
          <div class="col-4">
            <select class="form-control" name="" id="" formControlName="cpuType">
              <option value="">------------</option>
              <option *ngFor="let cpuType of cpuTypeList" [ngValue]="cpuType">{{cpuType}}</option>
            </select>
          </div>

          <div class="col-2">Generation</div>
          <div class="col-4">
            <input type="text" class="form-control" formControlName="cpuGeneration">
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-2">Storage</div>
          <div class="col-4">
            <select class="form-control" name="" id="" formControlName="storageType">
              <option value="">------------</option>
              <option *ngFor="let storageType of storageTypeList" [ngValue]="storageType">{{storageType}}</option>
            </select>
          </div>

          <div class="col-2">Size(GB)</div>
          <div class="col-4">
            <input type="text" class="form-control" formControlName="storageSize">
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-2">Storage2</div>
          <div class="col-4">
            <select class="form-control" name="" id="" formControlName="storageType2">
              <option value="">------------</option>
              <option *ngFor="let storageType of storageTypeList" [ngValue]="storageType">{{storageType}}</option>
            </select>
          </div>
          <div class="col-2">Size(GB)</div>
          <div class="col-4">
            <input type="text" class="form-control" formControlName="storageSize2">
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>

  </fieldset>


  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-2">Description</div>
        <div class="col-10">
          <textarea class="form-control" name="" id="" cols="30" rows="3" formControlName="description"></textarea>
        </div>
      </div>
    </div>
    <div class="col-4">
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-2">Block</div>
        <div class="col-4">
          <select name="" class="form-control" (change)="loadRoom($event)" formControlName="block" [compareWith]="compareByID">
            <option [value]="0">Choose a block</option>
            <option *ngFor="let block of blockList" [ngValue]="block">{{block.name}}</option>
          </select>
        </div>
        <div class="col-2">Room</div>
        <div class="col-4">
          <select name="" id="" class="form-control" formControlName="room" [compareWith]="compareByID">
            <option value="">Choose a room</option>
            <option *ngFor="let room of this.roomListByBlock_Id" [ngValue]="room">{{room.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-4">
    </div>
  </div>


  <div class="row">
    <div class="col-8"></div>
    <div class="col-2">
      <button style="width: 100%" class="btn btn-primary" [disabled]="!deviceForm.valid">Update</button>
    </div>
    <div class="col-2">
      <button style="width: 100%" type="button" class="btn btn-light" (click)="closeDialogAdd()">Cancel</button>
    </div>
  </div>
</form>

{{nameCatelogySelected}}


